.label {
	color: #AAAAAA;
	font-family: "Helvetica Neue", "Roboto", "Segoe UI", sans-serif;
	font-size: 14px;
	font-weight: 400;
}

img.avatar {
	width: 35px;
	height: 35px;
	border-radius: 50%;
	vertical-align: middle;
}


ul.selector-dropdown {
	position: initial;
}