<ion-view view-title="Dashboard">
	<ion-content>
		<div class="text-right padding">
			<a class="button button-icon assertive icon ion-plus-circled" href="#/debt/new"></a>
		</div>

		<!-- list of user pending debts-->
		<ion-list class="pending-debts energized">
			<ion-item class="item item-divider item-icon-left">
				Dívidas pendentes
				<span class="badge badge-assertive" ng-bind="pending.length"></span>
			</ion-item>
			<ion-item class="item-compact item-remove-animate item-energized" type="item-text-wrap"
					  ng-repeat="item in pending = (debts | debtFilter: { pending: true })" ng-click="toggleItem(item)">
				<div class="row row-center">
					<div class="col-10">
						<i class="icon dark" ng-class="isItemShown(item) ? 'ion-minus' : 'ion-plus'"></i>
					</div>

					<div class="col-50 hidden-overflow">
						<span class="padding-horizontal positive">
							<img ng-src="{{item.debitor.photoURL}}" src="#" class="avatar" />
							{{item.debitor.name}}
						</span>

					</div>

					<div class="col-20 text-center assertive bold">
						{{item.value | currency}}
					</div>


					<div class="col-20 text-right">
						<div class="button-bar" ng-if="item.debitor.uid == user.uid">
							<a class="button button-clear button-balanced ion-checkmark-round" ng-click="accept(item); $event.stopPropagation();"></a>
							<a class="button button-clear button-assertive ion-close-round" ng-click="refuse(item); $event.stopPropagation();"></a>
						</div>
						<div class="box-note dark hidden-overflow text-center" ng-if="item.creditor.uid == user.uid">
							Aguardando
						</div>
					</div>
				</div>

				<div class="row row-center" ng-show="isItemShown(item)">
					<div class="col-67 box-note dark hidden-overflow">
						{{item.notes}}
					</div>
					<div class="col-33 text-right stable hidden-overflow">
						{{item.createdAt() | date}}
					</div>
				</div>
			</ion-item>
		</ion-list>




		<!-- list of user debts-->
		<ion-list>
			<ion-item class="item item-divider item-icon-left">
				Me devendo
				<span class="badge badge-assertive" ng-bind="credits.length"></span>
			</ion-item>


			<ion-item class="item-compact item-accordion item-remove-animate" type="item-text-wrap"
					  ng-repeat="item in credits = (debts | debtFilter: { creditor: user.uid })" ng-click="toggleItem(item)">
				<div class="row row-center">
					<div class="col-10">
						<i class="icon" ng-class="isItemShown(item) ? 'ion-minus' : 'ion-plus'"></i>
					</div>
					<div class="col-60 hidden-overflow">
						<span class="padding-horizontal positive">
							<img ng-src="{{item.debitor.photoURL}}" class="avatar" />
							{{item.debitor.name}}
						</span>

					</div>

					<div class="col-20 text-center assertive">
						{{item.value | currency}}
					</div>


					<div class="col-10 text-center">
						<button class="button button-icon balanced icon ion-checkmark-circled" ng-click="pay(item); $event.stopPropagation();"></button>
					</div>
				</div>
				<ion-item class="item-accordion"
						  ng-repeat="item in group.items"
						  ng-show="isItemShown(group)">
					{{item}}
				</ion-item>
				<div class="row row-center" ng-show="isItemShown(item)">
					<div class="col-90 box-note hidden-overflow">
						{{item.notes}}
					</div>
					<div class="col-10 text-center">
						<a href="#/debt/{{item.id}}">Detalhes</a>
					</div>
				</div>
			</ion-item>

			<ion-item class="item item-divider">
				Devendo
				<span class="badge badge-assertive" ng-bind="owing.length"></span>
			</ion-item>
			<ion-item class="item-compact item-accordion item-remove-animate" type="item-text-wrap"
					  ng-repeat="item in owing = (debts | debtFilter: { debitor: user.uid })" ng-click="toggleItem(item)">
				<div class="row row-center">
					<div class="col-10">
						<i class="icon" ng-class="isItemShown(item) ? 'ion-minus' : 'ion-plus'"></i>
					</div>
					<div class="col-60 hidden-overflow">
						<span class="padding-horizontal positive">
							<img ng-src="{{item.creditor.photoURL}}" class="avatar" />
							{{item.creditor.name}}
						</span>
					</div>

					<div class="col-20 text-center assertive">
						{{item.value | currency}}
					</div>


					<div class="col-10 text-center">
						<button class="button button-icon balanced icon ion-checkmark-circled" ng-click="pay(item); $event.stopPropagation();"></button>
					</div>
				</div>
				<ion-item class="item-accordion"
						  ng-repeat="item in group.items"
						  ng-show="isItemShown(group)">
					{{item}}
				</ion-item>
				<div class="row row-center" ng-show="isItemShown(item)">
					<div class="col-80 box-note hidden-overflow">
						{{item.notes}}
					</div>
					<div class="col-20 text-center">
						<a href="#/debt/{{item.id}}">Detalhes</a>
					</div>
				</div>
			</ion-item>
		</ion-list>
	</ion-content>
	<style>
		hr.dash {
			width: 95%;
			position: absolute;
			color: #313131;
		}

		img.avatar {
			width: 30px;
			height: 30px;
			margin: 0 10px;
		}

		.item.item-compact {
			padding-top: 0;
			padding-bottom: 0;
			font-size: 13px;
		}

		.item.item-small {
			padding-top: 10px;
			padding-bottom: 10px;
			font-size: 14px;
		}

			.item.item-small > .row {
				padding: 0;
			}


		.box-note {
			margin: 5px;
			padding: 5px;
			background-color: #FAFAFA;
			border-radius: 5px;
		}


		.list .item.item-accordion {
			padding-top: 0;
			padding-bottom: 0;
			transition: 0.09s all linear;
		}

			.list .item.item-accordion.ng-hide {
				line-height: 0px;
			}

			.list .item.item-accordion.ng-hide-add,
			.list .item.item-accordion.ng-hide-remove {
				display: block !important;
			}
	</style>
</ion-view>
