<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->


<ion-view>
	<ion-content class="padding">
		<form name="formDebt">
			<div class="list list-inset">

				<label class="item item-input">
					<input type="text" placeholder="Quantia" ng-model="debt.value" ui-money-mask min="1" ng-required="true" />
				</label>

				<label>
					<ion-toggle toggle-class="toggle-energized" ng-model="debt.isCreditor">
						<span class="label" ng-if="debt.isCreditor">Me deve</span>
						<span class="label" ng-if="!debt.isCreditor">Estou devendo</span>
					</ion-toggle>
				</label>
				<label class="item item-input">
					<input type="text" placeholder="Descrição" ng-model="debt.notes" ng-required="true" />
				</label>

				<select selector
						model="debt.selectedFriend"
						options="availableFriends"
						placeholder="Selecione seus amigos"
						view-item-template="'tmpl_friend-select-label'"
						dropdown-item-template="'tmpl_friend-select-dropdown-item'"
						closeAfterSelection="true"
						class="item" ng-required="true"></select>


				<div class="">
					<button type="submit" class="button button-block button-positive" ng-click="save(formDebt)" ng-disabled="!isFormValid(formDebt)">Salvar</button>
				</div>


				<pre ng-bind="debt | json"></pre>
				<pre ng-bind="formDebt | json"></pre>
			</div>
		</form>
		<style>
			.label {
				color: #AAAAAA;
				font-family: "Helvetica Neue", "Roboto", "Segoe UI", sans-serif;
				font-size: 14px;
				font-weight: 400;
			}

			img.avatar {
				width: 35px;
				height: 35px;
				border-radius: 50%;
				vertical-align: middle;
			}


			ul.selector-dropdown {
				position: initial;
			}
		</style>

	</ion-content>
</ion-view>

<!-- friend-selector label template -->
<script type="text/ng-template" id="tmpl_friend-select-label">
	{{option.name}}
</script>
<!-- friend-selector dropdown item template -->
<script type="text/ng-template" id="tmpl_friend-select-dropdown-item">
	<img ng-src="{{option.picture}}" class="avatar">
	<span class="padding-left">{{option.name}}</span>
</script>
