<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->


<ion-view>
	<ion-content class="padding">
		<form>



			<div class="list list-inset">



				<script type="text/ng-template" id="tmpl_friend-select-label">
					{{option.name}}
				</script>

				<script type="text/ng-template" id="tmpl_friend-select-dropdown-item">
					<img ng-src="{{option.picture}}" class="avatar">
					<span class="padding-left">{{option.name}}</span>
				</script>


				<select selector
						multi="true"
						model="selectedFriends"
						options="availableFriends"
						view-item-template="'tmpl_friend-select-label'"
						dropdown-item-template="'tmpl_friend-select-dropdown-item'"
						closeAfterSelection="true"
						class="item"></select>


				<label class="item item-input">
					<input type="number" placeholder="Quantia" ng-model="debt.value" />
				</label>

				<div class="padding">
					<button class="button button-block button-positive" ng-click="save()">Salvar</button>
				</div>
			</div>
		</form>
		<style>
			img.avatar {
				width: 35px;
				height: 35px;
				border-radius: 50%;
				vertical-align: middle;
			}


			ul.selector-dropdown {
				position: initial;
			}
		</style>

	</ion-content>
</ion-view>
