<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->


<ion-view>
	<ion-content class="padding">
		<form name="formDebt">
			<div class="list list-inset">

				<label class="item item-input">
					<input type="text" placeholder="Quantia" ng-model="debt.value" ui-money-mask min="1" ng-required="true" />
				</label>

				<label class="item item-input">
					<textarea type="text" placeholder="Descrição" ng-model="debt.notes" ng-required="true" ng-maxlength="150" maxlength="150" rows="2"></textarea>
				</label>

				<label>
					<ion-toggle toggle-class="toggle-energized" ng-model="debt.isCreditor">
						<span class="label" ng-if="debt.isCreditor">Me deve</span>
						<span class="label" ng-if="!debt.isCreditor">Estou devendo</span>
					</ion-toggle>
				</label>
				<select selector
						model="debt.selectedFriend"
						options="availableFriends"
						placeholder="Selecione seu amigo"
						view-item-template="'tmpl_friend-select-label'"
						dropdown-item-template="'tmpl_friend-select-dropdown-item'"
						closeAfterSelection="true"
						class="item" ng-required="true"></select>
				
				<div>
					<button type="submit" class="button button-block button-positive" ng-click="save(formDebt)" ng-disabled="!isFormValid(formDebt)">Salvar</button>
				</div>
			</div>
		</form>
	</ion-content>
</ion-view>

<!-- friend-selector label template -->
<script type="text/ng-template" id="tmpl_friend-select-label">
	{{option.name}}
</script>
<!-- friend-selector dropdown item template -->
<script type="text/ng-template" id="tmpl_friend-select-dropdown-item">
	<img ng-src="{{option.picture}}" class="avatar">
	<span class="padding-left">{{option.name}}</span>
</script>