<ion-view view-title="Profile">
	<ion-content class="has-header">
		<div>
			<button class="button" ng-click="getProfile()">Obter profile</button>
			<button class="button" ng-click="getFriends()">Obter amigos</button>

			
		</div>

		<ion-list>
			<ion-item class="item-avatar item-thumbnail-left item-icon-right" collection-repeat="x in friends">
				<img ng-src="{{x.picture}}" src="#" />
				<div class="item-text-center item-text-wrap">{{x.name}}</div>
			</ion-item>
		</ion-list>
	</ion-content>
</ion-view>